ZYRELAY_DATA_ROOT=./data
ZYRELAY_MAX_FILE_SIZE=26214400
ZYRELAY_KEEP_PREPARED=true
ZYRELAY_FUZZY_ENABLED=false
ZYRELAY_FUZZY_THRESHOLD=88
ZYRELAY_LLM_ENABLED=false
ZYRELAY_LLM_BASE_URL=
ZYRELAY_LLM_API_KEY=
ZYRELAY_LLM_MODEL=
ZYRELAY_CODE_CONVENTION_LABEL_CONFIG=./config/code_convention_labels.yaml
ZYRELAY_CODE_RULE_PATTERN_CONFIG=./config/code_rule_patterns.yaml
ZYRELAY_PLUGIN_CONFIG=./config/plugin.yaml
ZYRELAY_GROUND_CONFIG_DIR=./config/ground
ZYRELAY_ENTERPRISE_CONFIG_DIR=./config/enterprises
ZYRELAY_MODEL_CONFIG=./config/models.yaml
